<h1>Delete Post {{.post.ID}}</h1>

<p><b>You are about to do something destructive.</b></p>

<p>
{{if eq .post.Thread 0}}
This is a thread.
{{if .post.IsLocal}}
<b>All posts on this thread will be deleted.</b>
{{end}}
{{end}}

{{if .post.IsLocal}}
This delete <b>will be reflected on other instances that follow us</b>.
{{else}}
This delete is <b>local</b> to us, and will not be reflected onto other instances.
This post may be imported again if you manually fetch the outbox that this post belongs to.
{{end}}
</p>

<form action="/admin/delete" method="get" id="postForm">
	<table>
		<tr>
			<td><label for="reason">Reason:</label></td>
			<td><textarea rows="10" cols="50" id="comment" name="reason"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Delete Post"></td>
		</tr>

		<input type="hidden" name="board" value="{{.board.ID}}">
		<input type="hidden" name="post" value="{{.post.ID}}">
		<input type="hidden" name="confirm" value="1">
	</table>
</form>
