<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="/css/main.css">
		{{if .theme}}
		<link type="text/css" rel="stylesheet" href="/css/themes/{{.theme}}.css" title="selected theme">
		{{end}}
		{{range .themes}}
		<link type="text/css" rel="alternate stylesheet" href="/css/themes/{{.}}.css" title="{{.}}" disabled>
		{{end}}
	</head>
	<body>
		{{if .boards}}
		<ul id="boardlist">
			<li><a href="/">index</a></li>
			{{range .boards}}
			<li><a href="/{{.ID}}">/{{.ID}}/</a></li>
			{{end}}
			{{if .privs}}<li style="float:right;"><a href="/admin">admin</a></li>{{end}}
		</ul>
		{{end}}

		{{embed}}

		{{if .showpicker}}
		<div style="float: right;">
			<noscript>
				<b>Javascript required here!</b>
			</noscript>

			Theme:
			<select id="themepicker" onchange="setTheme(this.options[this.selectedIndex].value)">
				{{ range .themes }}
				<option value="{{.}}">{{.}}</option>
				{{ end }}
			</select>
		</div>
		<script src="/js/themes.js"></script>
		{{end}}
	</body>
</html>
