<ul id="boardlist">
	{{range .boards}}
	<li><a href="/{{.ID}}">/{{.ID}}/</a></li>
	{{end}}
</ul>

<h1>Admin view <a href="/">[back]</a></h1>

<h2>Boards</h2>
<table id="threads" class="table">
	<tr><th>ID</th><th>Title</th><th>Description</th></tr>
	{{range .boards}}
	<tr><td><a href="/{{.ID}}">{{.ID}}</a></td><td>{{.Title}}</td><td>{{.Description}}</td></tr>
	{{end}}
</table>

<h3>New board</h3>
<form action="/admin/board" method="post">
	<input type="text" name="id" id="id" value="">
	<input type="text" name="title" id="title" value="">
	<input type="text" name="description" id="description" value="">
	<input type="submit">
</form>

<h3>Reports</h3>
<table id="reports" class="table">
	<tr><th>Source</th><th>Date</th><th>Post</th><th>Reason</th><th>Action</th></tr>
	{{range .reports}}
	<tr>
		<td><code>{{.Source}}</code></td>
		<td><span class="date">{{.Date}}</span></td>
		<td><a href="/{{.Board}}/{{.Post}}">/{{.Board}}/{{.Post}}</a></td>
		<td><p>{{.Reason}}</p></td>
		<td><a href="/admin/resolve/{{.ID}}">Mark done</a></td>
	</tr>
	{{end}}
</table>
