{{$board := .board}}
{{$privs := .privs}}
{{$private := .private}}
<ul id="boardlist">
	<li><a href="/">index</a></li>
	{{range .boards}}
	<li><a href="/{{.ID}}">/{{.ID}}/</a></li>
	{{end}}
</ul>

<div id="boardheader">
	<h1>/{{.board.ID}}/ - {{.board.Title}}</h1>
	<p>{{.board.Description}}</p>
</div>

<p><a href="/{{.board.ID}}/catalog">[Catalog]</a></p>

<h2>Create a new thread</h2>
<form action="/{{.board.ID}}" method="post">
	<table id="postForm">
		<tr>
			<td><label for="name">Name:</label></td>
			<td><input type="text" id="name" name="name" placeholder="Anonymous" maxlength="{{.nameMax}}"><input type="submit" value="Post"></td>
		</tr>
		<tr>
			<td><label for="subject">Subject:</label></td>
			<td><input type="text" id="subject" name="subject" placeholder="..." maxlength="{{.subMax}}"></td>
		</tr>
		<tr>
			<td><label for="comment">Content:</label></td>
			<td><textarea rows="10" cols="50" id="comment" name="comment" maxlength="{{.postMax}}"></textarea></td>
		</tr>
		{{if not .privs}}
		<tr>
			<td>Captcha:</td>
			<td>{{ captcha }}</td>
		</tr>
		{{end}}
	</table>
</form>

<h2>Current threads</h2>
{{range .threads}}
{{$thread := (index .Posts 0).ID}}
{{$nposts := .NPosts}}
{{$posters := .Posters}}
{{range .Posts}}
<div id="p{{.ID}}" class="post">
	<h3>{{if eq .ID $thread}}[{{$nposts}}:{{$posters}}] {{end}}<a href="/{{$board.ID}}/{{$thread}}/#p{{.ID}}">#{{.ID}}</a> {{fancyname .}} <span class="subject">{{.Subject}}</span> {{time .Date}} <a href="/{{$board.ID}}/report/{{.ID}}">[report]</a>{{if $privs}} {{if ne .ID $thread}}<a href="/{{$board.ID}}/delete/{{.ID}}">[delete]</a>{{else}}<a href="/{{$board.ID}}/{{.ID}}/delete">[delete]</a>{{end}}{{if not $private}} <a href="/admin/ban/{{.Source}}">[ban]</a>{{end}}{{end}}</h3>
	<blockquote class="content">
		{{unescape .Content}}
	</blockquote>
</div>
{{end}}
<hr>
{{end}}
