{{$board := .board}}
<ul id="boardlist">
	{{range .boards}}
	<li><a href="/{{.ID}}">/{{.ID}}/</a></li>
	{{end}}
</ul>

<div id="boardheader">
	<h1>/{{.board.ID}}/ - {{.board.Title}}</h1>
	<p>{{.board.Description}}</p>
</div>

<h2>Create a new thread</h2>
<form action="/{{.board.ID}}" method="post">
	<table id="postForm">
		<tr>
			<td><label for="name">Name:</label></td>
			<td><input type="text" id="name" name="name" placeholder="Anonymous" maxlength="100"><input type="submit" value="Post"></td>
		</tr>
		<tr>
			<td><label for="content">Content:</label></td>
			<td><textarea rows="10" cols="50" id="content" name="content" maxlength="2000"></textarea></td>
		</tr>
	</table>
</form>

<h2>Current threads</h2>
<table id="threads" class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Date</th>
		<th>Content</th>
	</tr>
	{{range .threads}}
	<tr>
		<td><a href="/{{$board.ID}}/{{.ID}}">{{.ID}}</a></td>
		<td><span class="name">{{.Name}}</span></td>
		<td><span class="date">{{.Date}}</span></td>
		<td><p>{{.Content}}</p></td>
	</tr>
	{{end}}
</table>
