<h1>The rules <a href="/">[back]</a></h1>

<p><i>A part of the "Things that I shouldn't need to explicitly state but I do anyway" series.</i></p>

<ol>
	<li>Do not break any laws of the United States.</li>
	<li>You must be at least 18 years old to use this site.</li>
</ol>

<p>Keep in mind that this textboard is federated; users on other instances <a href="https://fchan.xyz">like the official one</a> will see your posts, and in some cases posts may be impossible to delete. Think before you type, do not post any identifiable information.</p>
