{{$board := .board}}
{{$thread := (index .posts 0).ID}}
{{$privs := .privs}}

<ul id="boardlist">
	<li><a href="/">index</a></li>
	{{range .boards}}
	<li><a href="/{{.ID}}">/{{.ID}}/</a></li>
	{{end}}
</ul>

<div id="boardheader">
	<h1>/{{.board.ID}}/ - {{.board.Title}}</h1>
	<p>{{.board.Description}}</p>
</div>

<p><a href="/{{.board.ID}}">[Index]</a> <a href="/{{.board.ID}}/catalog">[Catalog]</a></p>

<h2>Create a new post</h2>
<form action="/{{.board.ID}}/{{$thread}}" method="post">
	<table id="postForm">
		<tr>
			<td><label for="name">Name:</label></td>
			<td><input type="text" id="name" name="name" placeholder="Anonymous" maxlength="{{.nameMax}}"><input type="submit" value="Post"></td>
		</tr>
		<tr>
			<td><label for="content">Subject:</label></td>
			<td><input type="text" id="subject" name="subject" placeholder="..." maxlength="{{.subMax}}"></td>
		</tr>
		<tr>
			<td><label for="content">Content:</label></td>
			<td><textarea rows="10" cols="50" id="content" name="content" maxlength="{{.postMax}}"></textarea></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="sage" id="sage">Sage</td>
			{{if .privs}}
			<td>Logged in, no captcha.</td>
			{{else}}
			<td>{{ captcha }}</td>
			{{end}}
		</tr>
	</table>
</form>

<h2>Posts</h2>
<p>{{.nposts}} post{{if gt .nposts 1}}s{{end}}, {{.posters}} poster{{if gt .posters 1}}s{{end}}.</p>
{{range .posts}}
<div id="p{{.ID}}" class="post">
	<h3><a href="#p{{.ID}}">#{{.ID}}</a> {{fancyname .}} <span class="subject">{{.Subject}}</span> {{time .Date}}{{if .Bumpdate.IsZero}} sage{{end}} <a href="/{{$board.ID}}/report/{{.ID}}">[report]</a>{{if $privs}} {{if ne .ID $thread}}<a href="/{{$board.ID}}/delete/{{.ID}}">[delete]</a>{{else}}<a href="/{{$board.ID}}/{{.ID}}/delete">[delete]</a>{{end}} <a href="/admin/ban/{{.Source}}">[ban]</a>{{end}}</h3>
	<blockquote class="content">
		{{unescape .Content}}
	</blockquote>
</div>
{{end}}
