body {
	width: 56rem;
	max-width: 96%;
	margin: auto;

	background: #eef2ff;
	color: #000;

	font-family: arial,helvetica,sans-serif;
	font-size: 0.9em;
}

a.external, a:link.external, a:visited.external, a:active.external {color: #72e;}
a, a:link, a:visited, a:active {color: #34345c; text-decoration: none;}
a.cite {color: #d00; text-decoration: 1px underline;}
a:hover.cite {color: #fb4934;}

.post {
	background-color: #d6daf0;
	padding: 0.25em 1em 0.25em 1em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	border: 1px solid #b7c5d9;
}
:target.post { background-color: #d6bad0; }

.post > h3 {margin-top: 0;}
.subject {color: #0f0c5d; font-weight: 700;}
.name {color: #117743; font-weight: 700;}
.date {color: #000; font-weight: initial;}
.tripcode {color: #117743; font-weight: 400;}
.capcode {color: purple; font-weight: bold;}
.quote {color: #789922;}

h1,h2,h3,h4,h5,h6 {color: #af0a0f; margin-bottom: 0.1em;}
hr {border: 1px solid #b7c5d9;}

.table {background-color: #e0e5f6;}
.table, .table td, .table tr, .table th {
	border: 1px solid #928374;
	border-collapse: collapse;
}

#postForm {
	min-width: min-content;
	width: 50%;
	max-width: 100%;
	margin: auto;
}
#postForm #pfheader { display: none; width: 100%; }
#pfheader #pfclose { float: right; }

#postForm.floating {
	border: 2px solid #b7c5d9;
	background-color: #d6daf0;
}

#postForm td:first-child {
	background-color: #98e;
	color: #000;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: 700;
	border: 1px solid #000;
}

#postForm input[type="text"],
#postForm textarea {
	font-family: monospace, sans-serif;

	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
