<h1>Report Post {{.post.ID}} <a href="/{{.board.ID}}/{{.post.Thread}}">[Back]</a></h1>

<p>You are reporting a post.
A moderator will take action if necessary{{if not .private}}, however if this
report is deemed to be in bad faith, you may be the one that will have action
taken upon{{end}}.</p>

<p>Please ensure that you are absolutely certain that this post breaks
<a href="/rules">the rules</a>.</p>

<form action="/{{.board.ID}}/report?post={{.post.ID}}" method="post">
	<textarea name="reason" id="reason" rows="8" cols="40" maxlength="{{.repMax}}" placeholder="Report reason"></textarea>
	{{if .privs}}
	<p>Logged in, no captcha.</p>
	{{else}}
	<p>{{ captcha }}</p>
	{{end}}
	<input type="submit" value="Report">
</form>
