{{$board := .board}}
{{$thread := (index .posts 0).ID}}
{{$privs := .privs}}
{{$private := .private}}

<div id="boardheader">
	<h1>/{{.board.ID}}/ - {{.board.Title}}</h1>
	<p>{{.board.Description}}</p>
</div>

<p><a href="/{{.board.ID}}">[Index]</a> <a href="/{{.board.ID}}/catalog">[Catalog]</a></p>

<h2>Create a new post</h2>
<form action="/post" id="postForm" method="post">
	<div id="pfheader">
		<span id="pftitle">Replying to thread {{$thread}}</span>
		<a href="#" id="pfclose">[X]</a>
	</div>

	<table>
		<tr>
			<td><label for="name">Name:</label></td>
			<td><input type="text" id="name" name="name" placeholder="Anonymous" maxlength="{{.nameMax}}"><input type="submit" value="Post"> <a href="#" id="pfopen">[detach]</a></td>
		</tr>
		<tr>
			<td><label for="subject">Subject:</label></td>
			<td><input type="text" id="subject" name="subject" placeholder="..." maxlength="{{.subMax}}"></td>
		</tr>
		<tr>
			<td><label for="comment">Content:</label></td>
			<td><textarea rows="10" cols="50" id="comment" name="comment" maxlength="{{.postMax}}"></textarea></td>
		</tr>
		{{if not .privs}}
		<tr>
			<td>Captcha</td>
			<td>{{captcha}}</td>
		</tr>
		{{end}}

		<input id="inReplyTo" name="inReplyTo" type="hidden" value="{{(index .posts 0).APID}}">
		<input id="boardName" name="boardName" type="hidden" value="{{.board.ID}}">
		<input id="returnTo" name="returnTo" type="hidden" value="/{{.board.ID}}">
	</table>
</form>

<h2>Posts</h2>
<p>{{.nposts}} post{{if gt .nposts 1}}s{{end}}, {{.posters}} poster{{if gt .posters 1}}s{{end}}.</p>
{{range .posts}}
{{post . $board $privs $private 0 0}}
{{end}}

<script src="/js/form.js"></script>
